@using Blazorise
@using BlazorClient.Components
@using BlazorClient.Icons

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VideoPlatform</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (CurrentUser != null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"channel/{CurrentUser.Id}")" Match="NavLinkMatch.All">
                    @if (CurrentUser.ImagePath != null)
                    {
                        <UserImage Id="@CurrentUser.Id" Image="@CurrentUser.ImagePath" Size="35px"></UserImage>
                    }
                    else
                    {
                        <UserIcon Size="32"></UserIcon>
                    }
                    <h4 class="mt-1 ms-3">
                        @CurrentUser.Username
                    </h4>
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (CurrentUser == null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <UserIcon></UserIcon>
                    <div class="ms-3">Login</div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    <UserIcon></UserIcon>
                    <div class="ms-3">Register</div>
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="videoupload">
                    <UploadIcon></UploadIcon>
                    <div class="ms-3">Upload Video</div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="logout">
                    <UserIcon></UserIcon>
                    <div class="ms-3">Logout</div>
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    @using Data
    @using Contracts
    @inject IUserService UserService 

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public UserData? CurrentUser;

    protected override async Task OnParametersSetAsync()
    {
        CurrentUser = await UserService.GetCurrent();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
