@page "/"
@using BlazorClient.Components
@inject IVideoService VideoService

<PageTitle>Home</PageTitle>

<h1>Welcome to our Video Platform</h1>

<div class="d-flex">
@foreach (var video in Videos)
{
    <div class="me-2">
        <VideoCard 
            Id = "@video.Id"
            Title="@video.Title" 
            Image="@video.ImagePath"
            Creator="@video.Creator">
        </VideoCard>
    </div>
}
</div>

@if (ExceptionMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ExceptionMessage
    </div>
}

@code {
@using Data;
@using Dto;
@using Contracts;
@using Services;

    public string? ExceptionMessage = null;

    public IEnumerable<VideoCardData> Videos = new List<VideoCardData>();

    protected override async Task OnInitializedAsync()
    {
        await LoadVideos();
    }

    private async Task LoadVideos()
    {
        try
        {
            Videos = await VideoService.SelectForUser();

            if (Videos == null || !Videos.Any())
            {
                Videos = new List<VideoCardData>();
            }
        }
        catch (Exception ex)
        {
            ExceptionMessage = ex.Message;
        }
    }
}
